<div class="container">
  <div class="row">
    <div class="large-10 small-12 large-offset-1 columns">
      <h2>Solicitud de Crédito</h2>
    </div>
  </div>

  <form name="createCredit">
  <div class="row" ng-show="false">
    <!-- Formulario Paso 1-->
    <div class="large-8 small-12 columns">
      <div class="row">
        <div class="large-10 small-12 large-centered columns">

            <div class="row">
              <h4>Información personal:</h4>
              <hr>

              <div class="large-6 columns">
                <label>Nombre(s):
                  <input type="text" ng-model="cr.user.first_name" required/>
                </label>
              </div>
              <div class="large-6 columns">
                <label>Apellido(s):
                  <input type="text" ng-model="cr.user.last_name" required/>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-6 columns">
                <label>Fecha de Nacimiento:
                  <input type="date" ng-model="cr.user.birthday" required/>
                </label>
              </div>
              <div class="large-6 columns">
                <label>Estado Civil
                  <select>
                    <option value="casado">Casado</option>
                    <option value="soltero">Soltero</option>
                    <option value="viudo">Viudo</option>
                    <option value="libre">Unión Libre</option>
                  </select>
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-6 columns">
                <label>Sexo:</label>
                <input type="radio" name="sexo" value="femenino" id="sexoFemenino"><label for="sexoFemenino">Femenino</label>
                <input type="radio" name="sexo" value="masculino" id="sexoMasculino"><label for="sexoMasculino">Masculino</label>
              </div>
              <div class="large-6 columns">
                <label>Teléfono:
                  <input type="text">
                </label>
              </div>
            </div>
            <h4>Domicilio:</h4>
            <hr>
            <div class="row">
              <div class="large-12 columns">
                <label>Dirección:
                  <input type="text">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-6 columns">
                <label>Número:
                  <input type="text">
                </label>
              </div>
              <div class="large-6 columns">
                <label>Colonia:
                  <input type="text">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-6 columns">
                <label>Ciudad:
                  <input type="text">
                </label>
              </div>
              <div class="large-6 columns">
                <label>Estado:
                  <input type="text">
                </label>
              </div>
            </div>
          <a class="expanded button" ng-click="step = 2">Siguiente</a>
        </div>
      </div>
    </div>

  </div>

  <!-- Formulario Paso 2. -->

  <div class="row" ng-show="true">
    <div class="large-8 small-12 columns">
      <div class="row">
        <div class="large-10 small-12 large-centered columns">
            <div class="row">
              <div class="large-12 small-12 large-centered columns">
                <label>Monto Deseado (MXN):</label>
                <input type="number" placeholder="0.00">
              </div>
            </div>
            <div class="row">
              <div class="large-6 small-12 columns">
                <label>Plazo
                  <select>
                    <option value="casado">12 Meses</option>
                    <option value="soltero">24 Meses</option>
                    <option value="viudo">36 Meses</option>
                    <option value="libre">48 Meses</option>
                  </select>
                </label>
              </div>
              <div class="large-6 small-12 columns">
                <label>Destino del Crédito
                  <select>
                    <option value="hogar">Hogar</option>
                    <option value="auto">Auto</option>
                    <option value="compras">Compras</option>
                    <option value="vacaciones">Vacaciones</option>
                    <option value="negocios">Negocio</option>
                    <option value="deuda">Deuda</option>
                  </select>
                </label>
              </div>
            </div>

            <h4>Ingresa tus datos de depósito:</h4>
            <hr>
            <div class="row">
              <div class="large-6 small-12 columns">
                <label>Bancos
                  <select>
                    <option value="bancomer">Bancomer</option>
                    <option value="banamex">Banamex</option>
                    <option value="hsbc">HSBC</option>
                    <option value="santander">Santander</option>
                  </select>
                </label>
              </div>
              <div class="large-6 small-12 columns">
                <label> N&uacute;mero de cuenta:
                  <input type="text">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label> Cuenta CLABE
                  <input type="text">
                </label>
              </div>
            </div>
            <a class="expanded button" href="/#/credits">Siguiente</a>
        </div>
      </div>
    </div>
    <div class="large-4 small-12 columns"></div>
  </div>
  </form>
</div>
