body, p, span {
  font-family: 'Quattrocento Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  margin-top: 40px;
  font-weight: 700;
}

.header-money{
  color: #3fc8c1;
  font-family: 'Montserrat', sans-serif;
}

.right {
  text-align: right;
}

.credit_caption {
  color: #ef5656;
  font-size: 18px;
}

.credit_amount {
  color: #ef5656;
  font-size: 30px;
  font-weight: 700;
}

.monto_cubierto {
  color: #55a166;
}

.payments_pending {
  color: #55a166;
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.green {
  color: #55a166;
}

.graybox {
  padding: 20px;
  background-color: #ebebeb;
}

.fulfillment_caption {
  color: #55a166;
  font-size: 18px;
}

.amount_fulfilled {
  color: #55a166;
  font-size: 36px;
  font-weight: 700;
}

.share-header {
  color: #ef5656;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 30px;
}

.top-bar {
  background-color: #ffffff;
  border-bottom: 1px solid #d6d6d6;
}

.top-bar ul {
  background-color: #ffffff;
}

.top-bar a {
  color: #ef5656;
}

a {
  color: #ef5656;
}

.sidebar-block {
  background-color: #ebebeb;
  padding: 25px 20px 10px 20px;
}

.cta-button {
  background-color: #ef5656;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.share-button {
  background-color: #232e26;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.receive-money {
  color: #ef5656;
  font-weight: 700;
}

.description-name {
  color: #55a166;
  margin-top: 10px;
}

.sidebar-block h4 {
  color: #232e26;
  margin: 0;
  font-size: 36px;
}

.sidebar-block p {
  font-weight: 700;
  font-size: 18px;
}

.progress.success .progress-meter {
  background-color: #7accb3;

}

.sidebar-block .amount-remaining {
  color: #55a166;
}
