.top-bar {
  background-color: #ffffff;
  border-bottom: 1px solid #d6d6d6;
}

.top-bar ul {
  background-color: #ffffff;
}

.top-bar a {
  color: #ef5656;
}

a {
  color: #ef5656;
}

.sidebar-block {
  background-color: #ebebeb;
  padding: 25px 20px 10px 20px;
}

.cta-button {
  background-color: #ef5656;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.share-button {
  background-color: #232e26;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.receive-money {
  color: #ef5656;
  font-weight: 700;
}

h2 {
  margin-top: 40px;
  font-weight: 700;
}



.description-name {
  color: #55a166;
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.sidebar-block h4 {
  color: #232e26;
  margin: 0;
  font-size: 36px;
}

.sidebar-block p {
  font-weight: 700;
  font-size: 18px;
}

.progress.success .progress-meter {
  background-color: #7accb3;

}

.sidebar-block .amount-remaining {
  color: #55a166;
}

body, p, span {
  font-family: 'Quattrocento Sans', sans-serif;

}